<div class="card result-card">
  <!-- File Information added here -->
  <div class="flex file-header">
    <span class="results-file-name" title="{{pageUrl}}">
      {{name}}
    </span>
    <span class="spacer"></span>
    <a href="{{pageUrl}}" target="_blank">View File</a>
  </div>
  <div id="{{id}}">
    <!-- Matches within the file go here -->
  </div>
</div>
