<div class="card result-card">
  <!-- File Information added here -->
  <div class="flex file-header">
    <span class="results-file-name tooltip" data-text="{{url}}">{{document}}</span>
    <span class="spacer"></span>
    <a href="{{document}}" target="_blank">View File</a>
  </div>
  <div id="file-matches-{{document}}">
    <!-- Matches within the file go here -->
  </div>
</div>
