{{#each this}}
<div class="flex course" id="{{ouNumber}}-OU">
    <span class="course-title">{{courseName}}</span>
    <span class="spacer"></span>
    <span class="status-{{status}}">{{status}}</span>
</div>
{{/each}}
