<div class="result">
    <div id="editor">
        <span>
    {{fullHtml}}
    <!-- A span with 50 chars left and right of match goes here -->
    <!-- User class "highlight" on matched text -->
    </span>
    </div>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        editor.getSession().setMode("ace/mode/html");

    </script>
</div>
